/* NOT IN USE */

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$color: $red-400;

* {
    background-color: $color;
}

$theme-colors: (
    "primary": #17d4ff,
    "secondary": #274221,
    "danger": #274221,
);

@import "~node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/mixins";

