.navbar {
    background-color: #2EC0F9;
}

.navbar_text {
    color: black;
}


body{
    background-color: white;
}


.btn{
    background-color: #FFD166;
}

.btn:hover{
    color: white;
    background-color: #FFD166;
}

.user_button{
    background-color: #2EC0F9;
}

.user_button:hover{
    color: white;
    background-color: #2EC0F9;
}




/* red: #FE5F55
yellow: #FFD166
green: #06D6A0
blue: #2EC0F9
purple: #4E148C */