.navbar {
    background-color: #2EC0F9;
}

.navbar_text {
    color: black;
}


body{
    background-color: white;
}


.btn{
    background-color: #FFD166;
}

.btn:hover{
    color: white;
    background-color: #FFD166;
}

.user_button{
    background-color: #2EC0F9;
}

.user_button:hover{
    color: white;
    background-color: #2EC0F9;
}


  
.login_background{
    background-image: url('https://images.unsplash.com/photo-1580895456895-cfdf02e4c23f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2l0eSUyMG5pZ2h0JTIwbGlnaHRzfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
    background-size: cover;
    background-position: center;
}

.register_background{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/562/643/686/night-city-city-lights-skyscraper-new-york-wallpaper-preview.jpg');
    background-size: cover;
    background-position: center;
}



/* red: #FE5F55
yellow: #FFD166
green: #06D6A0
blue: #2EC0F9
purple: #4E148C */