.navbar {
    background-color: #2EC0F9;
}

.navbar_text, .navbar_dropdown_text {
    color: black;
}

.navbar_dropdown{
    background-color: white;
}


/* red: #FE5F55
yellow: #FFD166
green: #06D6A0
blue: #2EC0F9
purple: #4E148C */