<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CREATE TRIP</title>
        <!-- insert CDN connection  -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
        crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/css/wdmp.css">
    </head>

    <body>
      <nav class="navbar navbar-expand-sm sticky-top navbar-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
          </button>
              <a class="navbar-brand" href="/">
                <img src="../static/images/navbar_logo.jpg" width="50" height="50" class="rounded">
                Trippin'
              </a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class = "navbar_text nav-link" href="/create_trip_location"> CREATE TRIP </a>                
            </li>
            <li class="nav-item">
              <a class = "navbar_text nav-link" href="/saved_trips"> SAVED TRIPS </a>                
            </li>
          </ul>
      
          <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
            <li class="nav-item">
              <a class = "navbar_text nav-link" href="/logout"> LOGOUT </a>                
            </li>
          </ul>
        </div>
        <div class="flex-grow-1">
          <!--spacer-->
        </div>
      </nav>

      <div class = "container align-items center py-3 w-50">
        <h1 class="text-center">
          {{TRIP_DATA[2]}} 
        </h1>

        <p class = "text-center">
          {{TRIP_DATA[7]}} People
        </p>

        <h2 class> Location </h2>
          <p> Origin: {{TRIP_DATA[5]}}<br>
              Destination: {{TRIP_DATA[6]}}
          </p>

        <h2> Dates </h2>
          <p> Start Date: {{TRIP_START[1]}} <br>
              End Date: {{TRIP_END[1]}}
          </p>

        <h2> Flight </h2>
        <div class="card my-2 mx-1" style="width: 43rem;">
          <div class="card-header">
            {{FLIGHT_DATA[6]}}
          </div>
          <div class="card-body"> 
            <h5 class="card-title">Roundtrip</h5>
          <p class="card-text"> 
            Departure Flight: {{FLIGHT_START[0]}} on {{FLIGHT_START[1]}}<br>
            Return Flight: {{FLIGHT_END[0]}} on {{FLIGHT_END[1]}} <br>
            Total Price: ${{FLIGHT_DATA[5]}}</p>
          </div>
        </div>

        <h2 class = "pt-2"> Hotel </h2>
        <div class="card my-2 mx-1" style="width: 43rem;">
          <div class="card-header">
          </div>
          <div class="card-body"> 
            <h5 class="card-title">{{HOTEL_DATA[0][2]}}</h5>
          <p class="card-text"> 
            {{HOTEL_DATA[0][3]}} </p>
          </div>
        </div>

        <h2 class = "pt-2"> Activities</h2>
        <!-- loop for all activities-->
        <div class="row g-0 w-30"> 
          {% for x in PLACES_DATA %}
          <div class ="col ">
            <div class ="card my-2" style ="width: 20rem">
              <iframe src="{{x['image']}}" allowfullscreen> </iframe>
              <div class="card-body">
                <h5 class="card-title" href="{{x['url']}}">{{x['name']}}</h5>
                <p class="card-text">{{x['category']}}</p>
              </div>          
            </div> 
          </div>
          {% endfor %}
        </div>

        <h2 class> {{WEATHER_STATUS}} </h2>
        <div class = "row g-0">
        {% for x in WEATHER %}
        <div class = "col"> 
          <div class = "card my-2" style ="width: 20rem">
            <div class="card-header">
              {{x['date']}}
            </div>
            <div class="card-body"> Temperature: {{x['temp']}}C <br>
              Max Temperature: {{x['max_temp']}} <br> 
              Min Temperature: {{x['min_temp']}} <br>
              Wind Speed: {{x['wind_spd']}} <br>
              Description: {{x['description']}} <br>
              Percepitation: {{x['precip']}}
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
        </div>
      </div>
      <footer class="footer text-center py-2">
        <img src="../static/images/navbar_logo.jpg" width="50" height="50" class="rounded">
        Trippin' by World Domination by the Magical Pinks
      </footer>
    </body>
</html>